<% if object.errors.any? %>
  <div class="bg-red-100 border-l-4 border-red-500 text-red-700 flex items-center p-4 rounded-md mb-4" aria-live="assertive">
    <div class="mr-3">
      <span class="material-icons text-red-500">error</span>
    </div>
    <div>
      <h2 class="font-semibold">
        <%= object.errors.attribute_names.map { |attribute| object.class.human_attribute_name(attribute) }.join("・") %>に誤りがあります
      </h2>
    </div>
  </div>
<% end %>