<% flash.each do |key, value| %>
  <% css_class = case key.to_sym
    when :notice then "bg-blue-100 border-l-4 border-blue-500 text-blue-700 flex items-center p-4 rounded-md"
    when :alert then "bg-red-100 border-l-4 border-red-500 text-red-700 flex items-center p-4 rounded-md"
    else "bg-gray-100 border-l-4 border-gray-500 text-gray-700 flex items-center p-4 rounded-md"
  end %>

  <div class="<%= css_class %>">
    <div class="mr-3">
      <% if key.to_sym == :notice %>
        <span class="material-icons text-blue-500">info</span>
      <% elsif key.to_sym == :alert %>
        <span class="material-icons text-red-500">error</span>
      <% else %>
        <span class="material-icons text-gray-500">notifications</span>
      <% end %>
    </div>
    <div><%= value %></div>
  </div>
<% end %>
