<!-- 投稿ボタン-->
<div class="form-control mt-6">
  <%= form.submit button_label, class: "btn bg-customBlue text-white border-0 hover:bg-blue-500 w-full py-3 text-lg", data: { action: "click->loading#show" } %>
</div>
