<div class="flex justify-end mb-4 items-center space-x-1">
  <!-- いいねボタン -->
  <turbo-frame id="like_button_<%= review.id %>">
    <%= render "shared/review_like_button", review: review %>
  </turbo-frame>

  <!-- いいね数 -->
  <turbo-frame id="likes_count_<%= review.id %>">
    <%= render "shared/review_likes_count", review: review %>
  </turbo-frame>
</div>
