@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#F5F5F5] text-gray-900;
}

/* lightbox(画像の拡大機能)のスタイル */
.lightbox .lb-image {
  max-width: 80vw;
  max-height: 80vh;
}

/* スワイパー(画像スライド)のスタイル */
.swiper-container {
  position: relative;
}

.swiper-pagination {
  bottom: -25px !important;
}