<p><%= @resource.name %>様</p>

<p>この度は、MiniReをご利用いただきありがとうございます。</p>

<p>以下のリンクをクリックすることで、パスワードの変更が可能です。</p>

<p>
  <%= link_to 'パスワードを変更する', 
               edit_password_url(@resource, reset_password_token: @token), 
               style: 'color: #007bff; text-decoration: underline;' %>
</p>

<p>※リンクの有効期限は送信後6時間です。有効期限を過ぎた場合は、再度お手続きをお願いいたします。</p>

<p>【ご注意】</p>
<p>本メールに身に覚えの無い場合は、本メールを破棄していただきますようお願いいたします。</p>

<p>MiniRe サポートチーム</p>

<p>-------------------------------------------------</p>
<p>このメールは送信専用です。返信いただいてもお答えできませんのでご了承ください。</p>
<p>-------------------------------------------------</p>