<!-- 内容フォーム -->
<div class="form-control mb-6" data-controller="template">
  <div class="flex items-center justify-between mb-1">
    <%= form.label :content, class: "text-lg font-medium text-gray-700" do %>
      内容 <span class="text-red-500">*</span>
    <% end %>

    <button type="button" class="btn btn-outline btn-sm" data-action="click->template#insert">
      テンプレートを挿入
    </button>
  </div>

  <%= form.text_area :content,
      rows: 3,
      class: "textarea textarea-bordered w-full text-lg resize-y placeholder:text-sm #{error_class(@review, :content)}",
      placeholder: "レビュー内容を入力してください",
      data: {
        controller: "autosize",
        action: "input->autosize#resize",
        template_target: "textarea"
      } %>

  <% if form.object.errors[:content].any? %>
    <p class="text-red-500 text-sm mt-1"><%= form.object.errors[:content].first %></p>
  <% end %>
</div>