  <div class="flex flex-col space-y-1 mb-4 releasable-item relative">
    <!-- アイテム名 -->
    <%= item_fields.text_field :name, 
          class: "input input-bordered w-full text-lg placeholder:text-sm transition-opacity #{error_class(item_fields.object, :name)}", 
          placeholder: "手放せるものがあれば入力してください" %>
  </div>
