<% content_for :title, "レビュー投稿 | MiniRe (ミニレ)" %>
<% breadcrumb :new_review %>
<div class="bg-gray-100 min-h-screen py-4 px-4">
  <div class="max-w-4xl mx-auto">
    <%= form_with model: @review, local: true do |f| %>
      <%= render "reviews/form", form: f, button_label: "投稿する" %>
    <% end %>
  </div>
</div>
